* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main-bg {
    background-color: var(--primary-color) !important;
}

.text-color {
    color: var(--primary-color) !important;
}

.pw-5 {
    width: 5px !important;
}

.image-card img {
    max-width: 100%;
    max-height: auto;
}

.empty-cart img {
    max-width: 150px;
    max-height: auto;
}

.profile-picture {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

select {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

/* Add margin to sub-navigation items */
.nav-treeview .nav-item {
    margin-right: 20px;
}

/* Optional: Make sub-navigation items slightly smaller */
.nav-treeview .nav-link {
    /* font-size: 0.9rem; */
    padding-left: 30px;
}

.dropdown-scroll {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
