* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main-bg {
    background-color: var(--primary-color) !important;
}

.text-color {
    color: var(--primary-color) !important;
}

.pw-5 {
    width: 5px !important;
}

.image-card img {
    max-width: 100%;
    max-height: auto;
}

.empty-cart img {
    max-width: 150px;
    max-height: auto;
}

.profile-picture {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

select {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

/* Add margin to sub-navigation items */
.nav-treeview .nav-item {
    margin-right: 20px;
}

/* Optional: Make sub-navigation items slightly smaller */
.nav-treeview .nav-link {
    /* font-size: 0.9rem; */
    padding-left: 30px;
}

.dropdown-scroll {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Custom Chat Styles */
.chat-sidebar {
    height: 80vh;
    background: #fefefe;
    overflow-y: auto;
}

.chat-item {
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.chat-item:hover {
    background-color: #f9f9f9;
}

.chat-item img {
    object-fit: cover;
}

.badge {
    font-size: 0.75rem;
}

.chat-window {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f8f9fa;
}

.message {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
    word-wrap: break-word;
}

.message.sent {
    margin-left: auto;
    align-self: flex-end;
    background-color: #dcf8c6;
    text-align: right;
}

.message.received {
    margin-right: auto;
    align-self: flex-start;
    background-color: #fff;
    border: 1px solid #ddd;
}

.message-text {
    margin-bottom: 4px;
}

.message-time {
    font-size: 12px;
    color: #888;
    text-align: right;
}